.elements__album {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media (min-width: 767px) {
  .elements__album {
    width: 581px;
    display: grid;
    grid-template-columns: repeat(2, auto);
    grid-template-rows: repeat(3, 361px);
    margin: 0 auto;
    gap: 20px 17px;
  }
}

@media (min-width: 1023px) {
  .elements__album {
    width: 880px;
    grid-template-columns: repeat(3, auto);
    grid-template-rows: repeat(2, 361px);
  }
}
